.header {

    * {
        box-sizing: border-box;
    }

    .header-list {
        background: #f1f1f1;
        height: 30px;
        color: #767676;
        line-height: 30px;

        .center {
            width: 1200px;
            margin: auto;


            .left {
                float: left;
                display: flex;


                h4 {
                    font-size: 12px;

                }

                span {
                    margin-left: 10px;
                    font-size: 12px;

                    a {
                        color: #0a75e7;
                    }
                }
            }

            .right {
                float: right;

                .right-ul {
                    display: flex;

                    .right-ul-li {
                        border: 1px solid rgba($color: #fff, $alpha: 0);
                        padding: 0px 10px;
                        margin-right: 5px;
                        font-size: 12px;

                        a {
                            color: #000;
                        }



                        img {
                            width: 10px;
                            height: 10px;
                            margin-right: 5px;
                        }

                        .li-list {
                            z-index: 22;
                            display: none;
                            background: #fff;
                            width: 100%;
                            border: 1px solid #ccc;


                            li {

                                text-align: center;

                                a {
                                    font-size: 12px;
                                    color: black;
                                }
                            }
                        }
                    }

                    .l1,
                    .l2,
                    .l5 {
                        position: relative;

                        .li-list {
                            position: absolute;
                            top: 29px;
                            left: 0;
                        }
                    }

                    .l3 {
                        span {
                            color: red;
                        }
                    }

                    .l6 {
                        position: relative;

                        .li-list {
                            width: 600px;
                            height: 300px;
                            position: absolute;
                            top: 29px;
                            left: -510px;
                            // background: #ccc;
                            border: 1px solid #ccc;


                            .li-list-dl2,
                            .li-list-dl1 {
                                float: left;
                                width: 30%;
                                margin-left: 15px;
                                border-right: 1px solid #ccc;

                                dt {
                                    color: blue;
                                }

                                dd {
                                    float: left;
                                    margin-right: 20px;
                                }
                            }

                            .li-list-dl3 {
                                float: left;
                                width: 30%;
                                margin-left: 15px;

                                dt {
                                    color: blue;
                                }

                                dd {
                                    float: left;
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-nv {
        width: 100%;

        .center {
            width: 1200px;
            margin: auto;

            .left {
                float: left;
                margin-right: 50px;

                img:nth-child(1) {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
            }

            .right {
                float: left;
                margin-top: 30px;

                .right-d1 {
                    margin-bottom: 22px;

                    .i1 {
                        border: 2px solid #0a75e7;
                        width: 510px;
                        height: 36px;
                    }

                    .i2 {
                        width: 76px;
                        height: 36px;
                        background: #0a75e7;
                        font-size: 20px;
                        line-height: 36px;
                        color: #fff;
                        margin-left: -5px;
                    }
                }

                ul {
                    display: flex;

                    li {
                        font-size: 12px;
                        margin-right: 20px;

                        a {
                            color: #000;
                        }
                    }

                    li:nth-child(2) {
                        a {
                            color: red;
                        }
                    }

                    li:nth-child(5) {
                        a {
                            color: red;
                        }
                    }
                }
            }
        }
    }


    .header-dw {
        width: 100%;

        .center {
            width: 1200px;
            margin: auto;

            .left {
                float: left;
                margin-right: 50px;

                img:nth-child(1) {
                    margin-top: 20px;
                    margin-bottom: 5px;
                }
            }

            .right {
                float: left;
                margin-top: 30px;

                .right-d1 {
                    margin-bottom: 22px;

                    .i1 {
                        border: 2px solid #0a75e7;
                        width: 510px;
                        height: 36px;
                    }

                    .i2 {
                        width: 76px;
                        height: 36px;
                        background: #0a75e7;
                        font-size: 20px;
                        line-height: 36px;
                        color: #fff;
                        margin-left: -5px;
                    }
                }

                ul {
                    display: flex;

                    li {
                        font-size: 12px;
                        margin-right: 20px;

                        a {
                            color: #000;
                        }
                    }

                    li:nth-child(2) {
                        a {
                            color: red;
                        }
                    }

                    li:nth-child(5) {
                        a {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}